.footcard {
    width: 100%;
    padding-left: 4rem;
    padding-right: 4rem;
    &__labellist {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }
    &__model{
        margin-top: 1rem;
        width: 80%;
    }
    &__title{
        color: #4C4C4C;
    }
    &__subtitle{
        color: #4C4C4C;
    }
}